In [1]:
import pandas as pd
import csv

With the following code we will answer the following question.

What is the northernmost airport in the United States?
Dillant Hopkins Airport

In [2]:
locations = pd.read_csv('https://raw.githubusercontent.com/hadley/nycflights13/master/data-raw/airports.csv')
#reads csv file from github.com

locations.sort_values("lat", ascending=False).head() 
#by marking ascedning false we are stating to sort order by descending

,faa,name,lat,lon,alt,tz,dst,tzone
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5.0,A,\N
230,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9.0,A,America/Anchorage
110,AIN,Wainwright Airport,70.638056,-159.994722,41,-9.0,A,America/Anchorage
708,K03,Wainwright As,70.613378,-159.860350,35,-9.0,A,America/Anchorage
152,ATK,Atqasuk Edward Burnell Sr Memorial Airport,70.467300,-157.436000,96,-9.0,A,America/Anchorage

With the following code we will answer the following question.

desending order will give us the biggest postive number for east which is marked with a postive sign in maps

What is the easternmost airport in the United States?
Eareckson As

In [3]:
locations = pd.read_csv('https://raw.githubusercontent.com/hadley/nycflights13/master/data-raw/airports.csv')
locations.sort_values('lon', ascending=False).head()

,faa,name,lat,lon,alt,tz,dst,tzone
1290,SYA,Eareckson As,52.712275,174.113620,98,-9.0,A,America/Anchorage
942,MYF,Montgomery Field,32.475900,117.759000,17,8.0,A,Asia/Chongqing
396,DVT,Deer Valley Municipal Airport,33.411700,112.457000,1478,8.0,A,Asia/Chongqing
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5.0,A,\N
444,EPM,Eastport Municipal Airport,44.910111,-67.012694,45,-5.0,A,America/New_York

With the following code we will answer the following question.

On February 12th, 2013, which New York area airport had the windiest weather?
EWR

In [4]:
locations = pd.read_csv('https://raw.githubusercontent.com/hadley/nycflights13/master/data-raw/weather.csv')
test = locations[(locations.month==2) & (locations.day==12) & (locations.year==2013)]
#create a dataframe with my exact cretiera
test.sort_values('wind_speed', ascending=False).head()
#sort the new dataframe by the highest speed of wind recored on that date.

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
1009,EWR,2013,2,12,3,39.02,26.96,61.63,260.0,1048.36058,NaN,0.0,1008.3,10.0,2013-02-12T08:00:00Z
18417,LGA,2013,2,12,2,42.98,26.06,50.94,290.0,23.01560,31.07106,0.0,1007.1,10.0,2013-02-12T07:00:00Z
1018,EWR,2013,2,12,12,44.06,26.06,48.87,270.0,21.86482,31.07106,0.0,1012.5,10.0,2013-02-12T17:00:00Z
18428,LGA,2013,2,12,13,44.06,23.00,43.02,300.0,21.86482,25.31716,0.0,1011.7,10.0,2013-02-12T18:00:00Z
18429,LGA,2013,2,12,14,44.06,23.00,43.02,300.0,20.71404,25.31716,0.0,1011.5,10.0,2013-02-12T19:00:00Z